#display {
  @include setGeometry();
  cursor: pointer;

  &.active.desktop-creation {
    #video-wrapper {
      #teaser-wrapper {
        #teaser-cover {
          opacity: 0.57;
        }
      }
    }
  }

  &.endboard-active {
    #display-content {
      #rv-endboard {
        display: block;
      }
    }

    &.endboard-with-replay {
      #display-content #rv-replay {
        display: block;
      }
    }
  }

  #video-wrapper {
    @include setGeometry();

    .player-wrapper {
      pointer-events: auto;
    }

    #player-wrapper-1 {
      @include setGeometry();
    }

    #teaser-wrapper {
      @include setGeometry();
      pointer-events: none;

      #teaser {
        @include setGeometry();
      }

      #teaser-cover {
        @include setGeometry();
        transition: opacity 250ms linear;
        background-color: #000;
        opacity: 0;
      }

      #counter-wrapper {
        @include setGeometry();
        z-index: 2;

        canvas {
          @include setGeometry(auto, auto, 63%, 54%, absolute);
        }
      }
    }
  }

  #display-content {
    @include setGeometry();

    img {
      z-index: 1;
      position: absolute;
    }

    * {
      pointer-events: none;
    }

    #rv-endboard, #rv-replay {
      display: none;
      z-index: 1;
      pointer-events: auto;
    }

    #rv-endboard {
      @include setGeometry();
    }
  }
}

.hide {
  opacity: 0;
}

#display.format_300x250 {
  width: 300px;
  height: 250px;

  #display-content {
    &.fallback {
      width: 300px;
      height: 250px;
    }

    #rv-endboard {
    }

    #rv-replay {
    }

    .frame {
      width: 300px;
      height: auto;
      top: 0;
      left: 0;
    }

    .claim {
      width: 108px;
      height: auto;
      top: 15%;
      left: 82%;
      transform: translate(-50%, -50%);
    }

    .logo {
      width: 55px;
      height: auto;
      top: 10%;
      left: 13%;
      transform: translate(-50%, -50%);
    }
    .logo2 {
      width: 55px;
      height: auto;
      top: 9%;
      left: 38%;
      transform: translate(-50%,-50%);
    }

    .groupOne, .groupTwo {
      transition: all .4s ease;
      top: 50%;
      height: 100%;
      width: 100%;
      left: 50%;
      position: absolute;
      z-index: 3;
      opacity: 0;
      &.propdPosition{
        transform: translate(-50%, -50%);
      }
      &.active{
        opacity: 1;
      }
    }

    .prod1 {
      width: 217px;
      height: auto;
      top: 63%;
      left: 36%;
      transition: all .4s ease;
      transform: translate(-50%, -50%);
    }

    .head {
      transform-origin: bottom left;
      transition: all .4s ease;
      width: 30px;
      height: auto;
      top: 53.9%;
      left: 53.5%;
    }

    .leaf1 {
       transform-origin: bottom right;
      transition: all .4s ease;
      width: 21px;
      height: auto;
      top: 41%;
      left: 0;
    }

    .leaf2 {
       transform-origin: bottom right;
      transition: all .4s ease;
      width: 22px;
      height: auto;
      top: 47%;
      left: 6%;
    }

    .leaf3 {
      transform-origin: bottom left;
      transition: all .4s ease;
      width: 24px;
      height: auto;
      top: 85%;
      left: 12%;
    }

    .leaf4 {
       transform-origin: bottom right;
      transition: all .4s ease;
      width: 34px;
      height: auto;
      top: 86%;
      left: 27%;
    }

    .prod2 {
      width: 190px;
      height: auto;
      top: 60%;
      left: 35%;
      transform: translate(-50%, -50%);
    }

    .head2 {
      transform-origin: bottom right;
      transition: all .4s ease;
      width: 33px;
      height: auto;
      top: 140px;
      left: 0%;

    }
    .animationRotate{
      animation: rotate 3s ease-in-out infinite;
    }

    .nut {
      transform-origin: top right;
      transition: all .4s ease;
      width: 17px;
      height: auto;
      top: 55%;
      left: 13%;
    }

    .nut2 {
      transform-origin: bottom left;
      transition: all .4s ease;
      width: 30px;
      height: auto;
      top: 74%;
      left: 12%;
    }

    .straw {
      transform-origin: bottom right;
      transition: all .4s ease;
      width: 34px;
      height: auto;
      top: 41%;
      left: 3%;
    }

    .cta {
      width: 123px;
      height: auto;
      top: 91%;
      left: 65%;
      transform: translate(-50%, -50%);
      z-index: 4;
    }

    .arrow {
      transition: all .4s ease;
      width: 70px;
      height: auto;
      top: 88%;
      left: 71%;
      z-index: 4;
    }

    .animArrow {
      animation: arrow 3s ease-in-out infinite;
    }

  }

  #video-wrapper {
    width: 300px;
    height: 250px;

    #teaser-wrapper {
      #teaser {
        width: 124%;
        height: auto;
        top: 3%;
      }

      #counter-wrapper {
        canvas {
          //top: 54%;
          //left: 64%;
          @include setSizeAndMargin(112px);
        }
      }
    }
  }

  &.endboard-active {
    #display-content {
      #rv-endboard {
      }

      #rv-replay {
      }
    }
  }
}

#display.format_750x200 {
  width: 750px;
  height: 200px;

  #display-content {
    &.fallback {
      width: 750px;
      height: 200px;
    }

    #rv-endboard {
    }

    #rv-replay {
    }
  }

  #video-wrapper {
    width: 750px;
    height: 200px;

    #teaser-wrapper {
      #counter-wrapper {
        canvas {
          @include setSizeAndMargin(90px);
        }
      }
    }
  }

  &.endboard-active {
    #display-content {
      #rv-endboard {
      }

      #rv-replay {
      }
    }
  }
}

#display.format_750x300 {
  width: 750px;
  height: 300px;

  #display-content {
    &.fallback {
      width: 750px;
      height: 300px;
    }

    #rv-endboard {
    }

    #rv-replay {
    }
  }

  #video-wrapper {
    width: 750px;
    height: 300px;

    #teaser-wrapper {
      #counter-wrapper {
        canvas {
          @include setSizeAndMargin(100px);
        }
      }
    }
  }

  &.endboard-active {
    #display-content {
      #rv-endboard {
      }

      #rv-replay {
      }
    }
  }
}

#display.format_300x600 {
  width: 300px;
  height: 600px;

  #display-content {
    &.fallback {
      width: 300px;
      height: 600px;
    }

    #rv-endboard {
    }

    #rv-replay {
    }
  }

  #video-wrapper {
    width: 300px;
    height: 600px;

    #teaser-wrapper {
      #counter-wrapper {
        canvas {
          @include setSizeAndMargin(100px);
        }
      }
    }
  }

  &.endboard-active {
    #display-content {
      #rv-endboard {
      }

      #rv-replay {
      }
    }
  }
}

#display.format_300x400 {
  width: 300px;
  height: 400px;

  #display-content {
    &.fallback {
      width: 300px;
      height: 400px;
    }

    #rv-endboard {
    }

    #rv-replay {
    }
  }

  #video-wrapper {
    width: 300px;
    height: 400px;

    #teaser-wrapper {
      #counter-wrapper {
        canvas {
          @include setSizeAndMargin(100px);
        }
      }
    }
  }

  &.endboard-active {
    #display-content {
      #rv-endboard {
      }

      #rv-replay {
      }
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  25% {
    transform: rotate(10deg);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes arrow {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(15%);
  }
  50% {
    transform: translate(0);
  }
  100% {
    transform: translate(0);
  }
}

@keyframes mobileGestureIconTweenX {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }
  10% {
    transform: translate3d(0%, -50%, 0);
  }
  20% {
    transform: translate3d(-50%, -50%, 0);
  }
  30% {
    transform: translate3d(-50%, -50%, 0);
  }
  40% {
    transform: translate3d(-100%, -50%, 0);
  }
  50% {
    transform: translate3d(-50%, -50%, 0);
  }
  60% {
    transform: translate3d(-50%, -50%, 0);
  }
  70% {
    transform: translate3d(-50%, -50%, 0);
  }
  80% {
    transform: translate3d(-50%, -50%, 0);
  }
  90% {
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes mobileGestureIconTweenY {
  0% {
    transform: translate3d(-50%, -50%, 0);
  }
  10% {
    transform: translate3d(-50%, 0%, 0);
  }
  20% {
    transform: translate3d(-50%, -50%, 0);
  }
  30% {
    transform: translate3d(-50%, -50%, 0);
  }
  40% {
    transform: translate3d(-50%, -100%, 0);
  }
  50% {
    transform: translate3d(-50%, -50%, 0);
  }
  60% {
    transform: translate3d(-50%, -50%, 0);
  }
  70% {
    transform: translate3d(-50%, -50%, 0);
  }
  80% {
    transform: translate3d(-50%, -50%, 0);
  }
  90% {
    transform: translate3d(-50%, -50%, 0);
  }
  100% {
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes mobileGestureIconTweenG {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  10% {
    transform: translate3d(-50%, -50%, 0) rotate(10deg);
  }
  20% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  30% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  40% {
    transform: translate3d(-50%, -50%, 0) rotate(-10deg);
  }
  50% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  60% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  70% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  80% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  90% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
}

#display {
  #mobileGestureIcon {
    @include setGeometry(auto, auto, 50%, 50%);
    transform: translate3d(-50%, -50%, 0);
    z-index: 9;

    &.animationX {
      animation: mobileGestureIconTweenX 1750ms ease-out infinite forwards;
    }

    &.animationY {
      animation: mobileGestureIconTweenY 1750ms ease-out infinite forwards;
    }

    &.animationG {
      animation: mobileGestureIconTweenG 1750ms ease-out infinite forwards;
    }
  }
}
